{{> partials/header }}
<section class="section">
    <div class="container">
        <h1 class="title">
            {{ title }}
        </h1>
        <p class="subtitle">
            {{ subtitle }}
        </p>
    </div>
</section>
{{> partials/footer }}