{{> partials/header }}
<section class="section">
    <div class="container">
        <h1 class="title">
            {{ title }}
        </h1>
        <p class="subtitle">
            {{ subtitle }}
        </p>
    </div>
</section>

<section class="section">
    <div class="container">
        <form id="villagerForm" method="get" action="/create" class="is-primary">
            <div class="field has-addons">
                <div class="control is-expanded">
                    <div class="select is-fullwidth">
                        <select name="cmd" id="mtype">
                            <option value="chat">Chat</option>
                            <option value="wolf">Werewolf</option>
                            <option value="dm">DM - WIP</option>
                            <option value="init">Init game</option>
                            <option value="nick">Change nick</option>
                        </select>
                    </div>
                </div>
                <input id="m" class="input" autocomplete="off" />
                <div class="control">
                    <button type="submit" class="button is-primary">Send</button>
                </div>
            </div>
        </form>
    </div>
</section>



{{> partials/footer }}