{{> partials/header }}
<script>
    var wolf = false;
</script>
<style>
    * { margin: 0; padding: 0; box-sizing: border-box; }
    #role {
        width: 100%;
        background: #ddd;
        text-align: center;
    }
    span {
        position: absolute;
        margin: .25rem;
        right: 0;
        background: #000;
        color: #eee;
        padding: .25rem;
        border-radius: 2px;
        font-size: .66rem;
    }
    #chats {
        height: 10em;
    }
    .forms {position: fixed; bottom: 0; width: 100%;}
    #messages { list-style-type: none; margin: 0; padding: 0;}
    #messages li { position: relative; padding: 5px 10px; }
    #messages li:nth-child(odd) { background: #eee; }
    #wolves { list-style-type: none; margin: 0; padding: 0;}
    #wolves li { padding: 5px 10px; }
    #wolves li:nth-child(odd) { background: #fdd; }
    .server {
        font-style: italic;
    }
</style>
<div id="role"></div>
<div class="container">
    <div id="chats" class="columns is-gapless">
        <ul id="messages" class="column"></ul>
        <ul id="wolves" class="column is-danger"></ul>
    </div>
</div>
<div class="forms columns">
    <form id="villagerForm" action="" class="is-primary column">
        <div class="field is-horizontal columns">
            <input id="m" class="input column is-four-fifths" autocomplete="off" /><button class="button is-link column">Send</button>
        </div>
    </form>
    <form id="werewolfForm" action="" class="is-danger column">
        <div class="field is-horizontal columns">
            <input id="mw" class="input column is-four-fifths" autocomplete="off" {{ !wolf ? disabled }} /><button class="button is-danger column">Send</button>
        </div>
    </form>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    $(function (global) {
        var socket = io.connect(window.location.hostname + ":" + window.location.port + '/general');
        var nick = "villager" + new Date().getTime().toString();
        var inProgress = false;
        global.role = "Viewer";
        global.wolf = false;
        global.wolves = undefined;

        socket.on('connect', function () {
            socket.emit('new connection', nick);
        });

        $('#werewolfForm').submit(function(e){
            e.preventDefault();
            msg = $('#mw').val();
            if (global.wolf) wolves.emit('wolf message', { nick, msg });
            else alert("You are not a Werewolf!");
            $('#mw').val('');
            return false;
        });

        $('#villagerForm').submit(function(e){
            e.preventDefault();
            msg = $('#m').val();
            if (msg.startsWith("/"))
                switch (msg.substr(1,4)) {
                    case "iden":
                        if (global.role == "GAMEMASTER")
                            socket.emit('get identities');
                        else alert("You don't have permissions to get identities!");
                        break;
                    case "role":
                        if (global.role == "Viewer")
                            socket.emit('request role', nick);
                        else alert("You do have a role!");
                        break;
                    case "abrt":
                        if (global.role == "GAMEMASTER") socket.emit('abort game');
                        else alert("You don't have permissions to abort the game!");
                        break;
                    case "init":
                        if (nick == "GAMEMASTER")
                            socket.emit('init game', {
                                w: msg.split(" ")[1] || 2,
                                v: msg.split(" ")[2] || 2,
                                r: msg.split(" ")[3] || 31
                            });
                        else alert("Only GAMEMASTER has permissions to init games");
                        break;
                    case "nick":
                        socket.emit('change nick', nick, msg.split(" ")[1]);
                        nick = msg.split(" ")[1];
                        break;
                    default:
                        alert("ERROR: Command not found.");
                }
            else if (msg != "") socket.emit('chat message', { nick, msg });
            else alert("Message is empty!");
            $('#m').val('');
            return false;
        });
        socket.on('chat message', function(msg) {
            $('#messages').append($('<li>').text(msg.msg).append($('<span class="tag is-' + (msg.nick == "GAMEMASTER" ? "info" : "dark") + '">').text(msg.nick)));
        });
        socket.on('role assignation', function(r) {
            $('#role').append($('<h1>').text(r));
            global.role = r;
            $('#messages').append($('<li class="server">').text('Your role is now ' + r + '!'));
            if (r == "Werewolf" || r == "GAMEMASTER") {
                global.wolf = true;
                global.wolves = io.connect(window.location.hostname + ":" + window.location.port + '/wolves');
                global.wolves.on('wolf message', function(msg) {
                    $('#wolves').append($('<li>').text(msg.msg).append($('<span class="tag is-' + (msg.nick == "GAMEMASTER" ? "info" : "danger") + '">').text(msg.nick)));
                });
            }
        });
        socket.on('progress', function(progress) {
            inProgress = progress;
        });
        socket.on('game aborted', function() {
            $('#messages').append($('<li class="server is-danger">').text('Game aborted! Reload page.'));
        });
        socket.on('no role available', function() {
            $('#messages').append($('<li class="server is-danger">').text('No role available.'));
        });
        socket.on('gamemaster', function(code) {
            $('#messages').append($('<li class="server">').text('You have created the game!'));
        });
        socket.on('nick changed', function (msg) {
            $('#messages').append($('<li class="server">').text(msg.oldNick + ' is now ' + msg.newNick));
        });
        socket.on('get identities', function (msg) {
            $('#messages').append($('<li class="server">').text(msg));
        });
    }(this));
</script>
{{> partials/footer }}